
.wizard {
  margin: 4rem;
  height: 12rem;
  width: 12rem;
  display: inline-block;
}

.wizard .name {
  margin: 0 -100% 0 -100%;
  font-family: 'Cormorant Unicase', serif;
  font-weight: bold;
  font-size: 20pt;
  white-space: nowrap;
  text-align: center;
}

.wizard img {
  height: 100%;
  width: 100%;
  padding: 1rem;
  background: radial-gradient(closest-side, orange, transparent);
}

.wizard .spell {
  cursor: pointer;
}
